@if (IsProcessing)
{
    <button type="button" class="btn btn-outline-secondary" disabled>Options</button>
}
else
{
    <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#optionsModal">Options</button>
}

@code {
    [Parameter] 
    public bool IsProcessing { get; set; }
}
