@page "/chat"

@inherits ChatPage

<PageTitle>Chat</PageTitle>

<a id="top"></a>

<PageHeader Icon="fa-regular fa-comments">Chat</PageHeader>

<p class="mb-4">Given a chat conversation, the model will return a chat completion response.</p>

<EditForm Model="Request" OnValidSubmit="OnSubmitAsync">
    @*<div class="row">
        <div class="col-md-3 border-end pe-4 d-none d-md-block overflow-auto">
            <ChatOptions Request="Request" ChatModels="ChatModels" InColumn="false"></ChatOptions>
        </div>
        <div class="col-md-9 col-sm-12 ps-md-4">
            <div class="row">
                <div class="col-auto">
                    <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#chatModal">Open Chat</button>
                </div>
                <div class="col-auto p-0 d-block d-sm-block d-md-none">
                    <OptionsButton IsProcessing="IsProcessing"></OptionsButton>
                </div>
            </div>
        </div>
    </div>*@
    
    <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#chatModal">Open Chat</button>

    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasOptions" aria-labelledby="offcanvasOptionsLabel" style="z-index: 10000;">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasOptionsLabel">Options</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <ChatOptions Request="Request" ChatModels="ChatModels" InColumn="false"></ChatOptions>
        </div>
    </div>

    <div class="modal" id="chatModal" tabindex="-1" aria-labelledby="chatModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-fullscreen">
            <div class="modal-content">
                <div class="modal-header bg-dark text-white">
                    <h5 class="modal-title" id="chatModalLabel">Chat</h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-header" style="background-color: #f7f7f7;">
                    <div class="row m-auto">
                        <div class="col-12">
                            <button class="btn btn-outline-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasOptions" aria-controls="offcanvasOptions">Options</button>
                            <button type="button" class="btn btn-outline-secondary ms-2" @onclick="Reset">Reset</button>
                        </div>
                    </div>
                </div>
                <div class="modal-body">
                    @if (Messages.Any())
                    {
                        <div class="mb-4">
                            @foreach (var message in Messages)
                            {
                                if (message.Role is "User")
                                {
                                    <div class="d-flex flex-row justify-content-end mb-3">
                                        <div class="col-8 p-3 me-3 border rounded">
                                            @message.Content
                                        </div>
                                        <span class="fw-bold mt-3">User</span>
                                    </div>
                                }
                                else if (message.Role is "Assistant")
                                {
                                    <div class="d-flex flex-row justify-content-start mb-3">
                                        <span class="fw-bold mt-3">Assistant</span>
                                        <div class="col-8 p-3 ms-3 border rounded" style="background-color: #f7f7f7;">
                                            @if (string.IsNullOrEmpty(message.Content))
                                            {
                                                <i class="fa-regular fa-comment-dots"></i>
                                            }
                                            else
                                            {
                                                @((MarkupString) message.Content)
                                            }
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                    }
                    <a id="bottom"></a>
                    <Error Model="Error"></Error>
                </div>
                <div class="modal-footer">
                    <div class="input-group">
                        <InputText id="Prompt" placeholder="Message" @bind-Value="Prompt" class="form-control"/>
                        @if (IsProcessing)
                        {
                            <button type="submit" class="btn btn-primary text-nowrap" disabled>Submit</button>
                        }
                        else
                        {
                            <button type="submit" class="btn btn-primary text-nowrap">Submit</button>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    @*<OptionsModal>
        <ChatOptions Request="Request" ChatModels="ChatModels" InColumn="true"></ChatOptions>
    </OptionsModal>*@
</EditForm>