@page "/"
@using Markdig

<PageTitle>Cledev OpenAI Playground</PageTitle>

<div class="card">
    <div class="card-header">Configuration</div>
    <div class="card-body">
        <p>In order to use the playground, you need to update <span class="fw-bold">appsettings.json</span> with your your <span class="fw-bold">ApiKey</span> and <span class="fw-bold">Organization</span>.</p>
        @if (string.IsNullOrEmpty(Content) is false)
        {
            @((MarkupString) Content)
        }
        <p>Get your ApiKey from the <a href="https://platform.openai.com/account/">OpenAPI Platform</a>.</p>
    </div>
</div>

@code
{
    protected string? Content { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var index = await File.ReadAllTextAsync("index.md");
        Content = Markdown.ToHtml(index);
    }
}
