@if (Model is not null)
{
    <div class="row my-4">
        <div class="col">
            <div class="card d-flex mt-3 border-danger">
                <div class="card-header text-white bg-danger">
                    Error
                </div>
                <div class="card-body">
                    <span class="fw-bold">Type</span>: @Model.Type<br />
                    <span class="fw-bold">Code</span>:
                    @if (Model.Code is not null)
                    {
                        @Model.Code
                    }
                    else
                    {
                        <literal>&lt;null&gt;</literal>
                    }
                    <br />
                    <span class="fw-bold">Message</span>: <span id="errorMessage">@Model.Message</span><br />
                    <span class="fw-bold">Param</span>:
                    @if (Model.Param is not null)
                    {
                        @Model.Param
                    }
                    else
                    {
                        <literal>&lt;null&gt;</literal>
                    }
                </div>
            </div>
        </div>
    </div>
}

@code {
    [Parameter] 
    public V1.Contracts.Error? Model { get; set; }
}
