@inherits ComponentBase

<div class="modal fade" id="(@Id)Modal" tabindex="-1" aria-labelledby="(@Id)ModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="(@Id)ModalLabel">@Title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                @ChildContent
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public string? Id { get; set; }
    
    [Parameter]
    public string? Title { get; set; }
    
    [Parameter]
    public RenderFragment? ChildContent { get; set; }
}
